.box-layout {
    align-items: center; //takes it to the center of the screen vertically 
    background: url('/images/bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center; //takes it to the center of the screen horizontally 
    height: 100vh;
    width: 100vw;
}

.box-layout__box {
    background: fade-out($color: white, $amount: .15);
    border-radius: 3px;
    padding: $l-size $m-size; //first one is top and botton, second one is left and right
    text-align: center;
    width: 25rem;
}

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
}